<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65495280902-boutm06vet5en2j66b02sn3r98mt8asn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65495280902-boutm06vet5en2j66b02sn3r98mt8asn</string>
	<key>API_KEY</key>
	<string>AIzaSyAeX6w-Q_UHZMTkISd5PvQXFqjr7L6aNMs</string>
	<key>GCM_SENDER_ID</key>
	<string>65495280902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatTalk</string>
	<key>PROJECT_ID</key>
	<string>rapid-chat-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>rapid-chat-pro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65495280902:ios:54de9af12ca661d6628287</string>
</dict>
</plist>